---
import { getArticle, listArticles } from '../../lib/loadContent.ts';

export async function getStaticPaths() {
  const items = listArticles();
  return items.map((i) => ({ params: { slug: i.slug } }));
}

const { slug } = Astro.params;
const a = getArticle(slug as string);
if (!a) throw new Error('Not found');
---
  <html><body>
    <h1>{a.frontmatter.title}</h1>
    <p><em>{a.frontmatter.dek}</em></p>
    <article set:html={a.content}></article>
    <hr />
    <p>Verification and sources: {a.frontmatter.verification_log_ref}</p>
  </body></html>
